<div class="text-field">
  <%= form.label :name %>
  <%= form.text_field :name, type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :place_type %>
  <%= form.text_field :place_type, type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :property_type %>
  <%= form.text_field :property_type , type: 'text' %>
</div>

<div class="number-field">
  <%= form.label :room_number %>
  <%= form.number_field :room_number, type: 'number' %>
</div>

<div class="number-field">
  <%= form.label :bed_number %>
  <%= form.number_field :bed_number, type: 'number' %>
</div>

<div class="number-field">
  <%= form.label :guest_number %>
  <%= form.text_field :guest_number, type: 'number' %>
</div>

<div class="text-field">
  <%= form.label :country %>
  <%= form.text_field :country, type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :state %>
  <%= form.text_field :state, type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :city %>
  <%= form.text_field :city, type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :zipcode %>
  <%= form.text_field :zipcode, type: 'text' %>
</div>

<div class="text-field">
  <%= form.label :address %>
  <%= form.text_field :address, type: 'text' %>
</div>

<div class="number-field">
  <%= form.label :price %>
  <%= form.text_field :price, type: 'number', step: '0.01' %>
</div>

<div class="text-field">
  <%= form.label :description %>
  <%= form.text_field :description, type: 'text' %>
</div>